.postBlock{
    display: flex;
    flex-direction: column;
}
.postBlock>div:first-child{
    background-color: red;
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 1.7em;
}
.postBlock>div:last-child{
    display: flex;
    justify-content: center;
}
.postBlock>div>div{
    margin: 0px 10px;
}
.postBlock>div .header{
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0px;
}
.postBlock>div .date{
    font-size: 0.7em;
    font-style: italic;
}