div{
    padding: 0px;
    margin: 0px;
    border: 0px;
}
.app{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.app>div{
    width: 100%;
}
.content{
    margin: 5px 150px;
}
a{
    text-decoration: none;
    color: inherit;
}